h1{
	color: blue;
	font-size: 50px;
	letter-spacing: 10px;
}
body{
	background-color: yellow;
	text-align: justify;
}
p::first-letter{
	  font-size: 24pt;
	  color: green;
}
.negative {
	color: red;
	background-color: ;
}
h1#heading{
	color: red;
	text-transform: uppercase;
	border: 1px solid green;
	margin: 10px;
	padding: 10px;
	width: 97%;
}
#first{
	background-color: blue;
	color: white;
	margin: 15px;
	float: left;
	width: 50%;
}
#comments{
	background-color: pink;
	margin: 15px;
	Float: right;
	width: 45%;
}
p{
	margin: 10px;
}